version: 2
jobs:
  build:
    branches:
      only:
        - master
    docker:
      - image: circleci/node
    steps:
      - add_ssh_keys
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: |
          # ssh-keyscan $LINODE_IP >> ~/.ssh/known_hosts
          echo $LINODE_IP >> ~/.ssh/known_hosts
          ssh -T yes@$LINODE_IP <<'ENDSSH'
          # sudo mkdir -p /srv/practices/
          # cd /src/practices/
          # sudo git -C 06-apollo-server-circleci pull || sudo git clone https://github.com/hiiamyes/06-apollo-server-circleci.git && cd 06-apollo-server-circleci/
          cd /src/practices/06-apollo-server-circleci/
          sudo git pull
          yarn start
          ENDSSH
